body {
    background-color: black;
    color: white;
}
.calculadora {
    background-color: rgb(94, 104, 112);
    padding: 8px;
    width: 220px;
    text-align: center;
    border-radius: 10px;
}
.display_calc {
    background-color: transparent;
    text-align: center;
}
#resultado {
    padding: 2px;
    background-color: black;
    color: yellow;
    text-align: right;
    
}
button {
    width: 40px;
    height: 40px;
    margin: 3px;
}
#btn_igual {
    background-color: rgb(240, 123, 77);
}